# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/download/
*.pyc
/simu
/simus

# build
build/
# cmake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# vscode
.vscode/
.idea
.venv